<h1>Output</h1>
<table border="1" cellpadding="5">
  <% @result.each_with_index do |i, el| %>
      <tr>
        <td><%=el+1%></td>
        <td><%=i%></td>
      </tr>
  <% end %>
</table>
</br>
<%= link_to "Repeat calculation", :input_input %>
