<h1>11 вариант</h1>
<h2>Дан массив чисел arr_k. Определить максимальный элемент массива и поместить на место первого положительного элемента,
  не кратного 7.</h2>
<h3>Input</h3>
<%= form_tag("/array/view", :method => "get") do %>
  <%= label_tag("The numbers:") %>
  <%= text_field_tag :num, "-20 35 40 60 70 50" %>
  <%= submit_tag("Result") %>
<% end %>
