footer {
    width: 100%;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
footer div {
    width: 100%;
}
#title {
    margin-right: auto;
}
* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
#backBtn {
    width: 8rem;
}
img {
    width: 3em;
    height: 70%;
    margin-right: 2em;
}

