#title {
    margin-right: auto;
}
.container {
    margin-top: 10rem;
    width: 30%;
}
.actions {
    display: flex;
    margin-top: 1.5em;
}
div>input[type='submit'] {
    margin: auto;
    width: 10em;
    margin-top: 1em;
}
.field {
    margin-top: 7px;
}
#Button {
    width: 10em;
}
a:last-child {
    margin-left: 2em;
}
label {
    margin-bottom: 1em;
    margin-top: 1em;
}
a label {
    margin: auto;
}